img{
    width: 100%;
}

h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilo para el encabezado de la universidad */
.university-header{
    background-color: #b3142c; /* Color de fondo de la universidad */
    color: white;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    width: 100%;
}

/* Estilo para el navbar */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para el logo */
.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para los enlaces de navegación */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff; /* Cambia el color al pasar el mouse sobre el enlace */
}

.logo img{
    width: 150px;
}


/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


.content-grid{
    display: grid;
    justify-items: center;
    text-align: center;
}

label {
    font-weight: bold;
}

.grid-content-reco{
    display: grid;
    justify-items: left;
}

.grid-content-search{
    display: grid;
    justify-items: right;
}

.container-salir{
    display: grid;
    justify-items: center;
    margin-top: 70px;
}

.footer-login{
    width: 100%;
    background-color: #b3142c;
    position: fixed;
    bottom: 0;
}

.card:hover{
    border: 1px solid gray;
}

.footer-detail{
    margin: 0;
    padding: 0;
    background-color: #b3142c;
    color: white;
    padding: 20px;
    text-align: center;
}