{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div>
        <br>
        <h1 style="color: #fff";>+ Crear nueva recomendación</h1>
    </div>
    <br>  
    <form action="" method="post" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}    
        {{ form.as_p }}
        <button class="btn btn-success d-grid gap-2" type="submit">Crear</button>
        <br>
        <a class="btn btn-secondary d-grid gap-2" href="{% url 'buscar' %}">Cancelar</a>
    </form>
</div>
<br>
<br>
<nav class="navbar navbar-expand-lg" style="background-color: #333;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo-ujed.png' %}" alt="Logo UJED" width="100" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Aquí puedes agregar enlaces de navegación adicionales -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: #fff";> 🡩 Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff";>@SOMOS UJED</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

