{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="container">
  <a class="btn btn-dark" href="{% url 'buscar' %}">🡠 Atrás</a>
</div>
<br>
<div class="container">
  <div class="card" style="width: auto;">
    <div class="card-header" style="font-weight: bold; background-color: #333; color: #fff;">
      Recomendación no. {{ recomendacion.numero_rec }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><label for="" style="font-weight: bold;">Eje: </label> {{ recomendacion.categoria.eje }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Categoría: </label> {{ recomendacion.categoria }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Recomendación: </label> {{ recomendacion.recomendacion }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Meta: </label> {{ recomendacion.meta }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Plazo: </label> {{ recomendacion.plazo_cumplimiento|date:"Y-m-d" }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Indicador: </label> {{ recomendacion.indicador_validacion }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Acciones</label> {{ recomendacion.acciones_meta }}</li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Recursos: </label> {{ recomendacion.recursos }}</li>       
        <li class="list-group-item">
          <label for="" style="font-weight: bold;">Responsables: </label>  
          {% for responsable in recomendacion.responsables.all %}
            <a>{{ responsable.area_resp}}, </a>
          {% endfor %}
        </li>
        <li class="list-group-item"><label for="" style="font-weight: bold;">Observación: </label> {{ recomendacion.observacion }}</li>
        <li class="list-group-item">
          {% for archivo in recomendacion.archivos.all %}
              <a class="btn btn-link" href="{{ archivo.archivo.url }}" target="_blank">{{ archivo.archivo.name }}</a>
          {% empty %}   
              <li class="list-group-item" style="font-weight: bold; color: #990000">Sin evidencias</li>    
          {% endfor %}
        </li>
        <li class="list-group-item"><a class="btn btn-primary"  href="{% url 'evidencia' pk=recomendacion.pk %}">🡑 Subir evidencia</a><label for="">Nombre Sugerido: E1_C2_R1_nombre_archivo</label></li>    
        <li class="list-group-item"><a class="btn btn-primary"  href="{% url 'observacion' pk=recomendacion.pk %}">🖉 Agregar o editar observación</a></li> 
        <li class="list-group-item"><a href="{% url 'descargar_evidencias' recomendacion.pk %}" class="btn btn-primary">🡓 Descargar evidencias</a> 
      </ul> 
  </div>
</div>
<br><br>
<footer class="footer-detail">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo-ujed.png' %}" alt="Logo UJED" width="170" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Aquí puedes agregar enlaces de navegación adicionales -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: #fff;">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff;">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: #fff;">@SOMOS UJED</a>
                </li> 
            </ul>
        </div>
    </div>
  </nav>
</footer>

{% endblock %}
