{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div id="" class="tabcontent">
      <section class="section mb-16">
          <div class="fluid-container">
              <div class="tabs__panel" >
                  <div class="row">
                      {% for recomendacion in recomendaciones %}
                      <div class="card" style="width: 18rem; margin: 2em;">
                        <div class="card-header" style="font-weight: bold;">
                          No. {{ recomendacion.numero_rec }}
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><label for="" style="font-weight: bold;">Recomendacion:</label> {{ recomendacion.recomendacion }}</li>
                          <li class="list-group-item"><label for="" style="font-weight: bold;">Plazo:</label> {{ recomendacion.plazo_cumplimiento|date:"Y-m-d" }}</li>
                          <li class="list-group-item"><label for="" style="font-weight: bold;">Responsable:</label> {{ recomendacion.responsable }}</li>
                          <li class="list-group-item"><a href="{% url 'detail' pk=recomendacion.pk %}">Detalle</a></li>
                        </ul>
                      </div>
                      {% endfor %}
                  </div>
              </div>  
          </div>  
      </section>
    </div>
</div>
{% endblock %}


