{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<div class="container-salir">
    <br><br>
    <div class="card" style="width: 40rem;">
        <div class="card-header">
          Cerrar sesión
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ msg }}</h5>
          <a href="{% url 'logout' %}" class="btn btn-outline-danger">Salir</a>
          <a href="{% url 'buscar' %}" class="btn btn-outline-secondary">Cancelar</a>
        </div>
      </div>
</div>
<footer class="footer-login">
  <p>Powered by Subsecretaría General Académica.  ♡</p>
</footer>

{% endblock %}
