{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br>

<div class="container">
    <div class="grid-content-reco">
        <div>
            <h1>Bandeja de recomendaciones</h1>
        </div>
    </div>
    <div class="grid-content-search" style="display: grid; justify-items: right;">
        <form method="GET">
            <input type="text" name="q" placeholder="Buscar">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

<div class="container">
    <div id="" class="tabcontent">
        <section class="section mb-16">
            <div class="fluid-container">
                <div class="tabs__panel" >
                    <div class="row">
                        {% for resultado in resultados %}
                        <div class="card" style="width: 18rem; margin: 2em;">
                            <div class="card-header" style="font-weight: bold;">
                              No. {{ resultado.numero_rec }}
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><label for="" style="font-weight: bold;">Recomendación:</label> {{ resultado.recomendacion|slice:":70" }}</li>
                              <li class="list-group-item"><label for="" style="font-weight: bold;">Plazo:</label> {{ resultado.plazo_cumplimiento|date:"Y-m-d" }}</li>
                              <li class="list-group-item"><label for="" style="font-weight: bold;">Responsable:</label> {{ resultado.responsable }}</li>
                              <li class="list-group-item"><a href="{% url 'detail' pk=resultado.pk %}">Detalle</a></li>
                            </ul>
                        </div>
                        {% endfor %}                     
                    </div>
              </div>  
          </div>  
      </section>
    </div>
</div>



{% endblock %}

