{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<br>

<div class="container">
    <div class="grid-content-reco">
        <div>
            <h1>Bandeja de recomendaciones</h1>
        </div>
    </div>
    <div class="grid-content-search" style="display: grid; justify-items: right;">
        <form method="GET">
            <input type="text" name="q" placeholder="Buscar por categoría">
            <button type="submit">Buscar</button>
        </form>
    </div>
</div>

<div class="container">
    <div id="" class="tabcontent">
        <section class="section mb-16">
            <div class="fluid-container">
                <div class="tabs__panel" >
                    <div class="row">
                        {% for resultado in resultados %}
                        <div class="card" style="width: 18rem; margin: 2em;">
                            <div class="card-header" style="font-weight: bold;">
                                No. {{ resultado.numero_rec }}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><label for="" style="font-weight: bold;">Eje:</label> {{ resultado.categoria.eje }}</li>
                                <li class="list-group-item"><label for="" style="font-weight: bold;">Categoría:</label> {{ resultado.categoria }}</li>
                                <li class="list-group-item"><label for="" style="font-weight: bold;">Recomendación:</label> {{ resultado.recomendacion|slice:":70" }}</li>
                                <li class="list-group-item"><label for="" style="font-weight: bold;">Plazo:</label> {{ resultado.plazo_cumplimiento|date:"Y-m-d" }}</li>
                                <li class="list-group-item"><label for="" style="font-weight: bold;">Responsable:</label> {{ resultado.responsable }}</li>
                                <li class="list-group-item"><a class="btn btn-outline-primary"  href="{% url 'detail' pk=resultado.pk %}">Detalle</a></li>
                            </ul>
                        </div>
                        {% empty %}
                            <div>
                                <p>No se encontraron resultados, por favor revise si escribio bien la categoría deseada respetando los signos de acentuación, presione nuevamente buscar para volver.</p>
                            </div>
                        {% endfor %}                     
                    </div>
                </div>  
            </div>  
        </section>
    </div>
</div>

<br><br>

<footer class="footer-detail">
    <div>
      <p>Powered by Subsecretaría General Académica.♡</p>  
    </div>
  </footer>

{% endblock %}

