{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="content-grid">
    <div class="card mb-3 text-center" style="max-width: 540px; background-color: rgba(255, 255, 255, 0.5);">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center;">
                <img src="{% static 'images/ujed_red.png' %}" class="img-fluid rounded-start" style="max-width: 250px; padding: 10px;" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">PMyAC</h3>
                    <p class="card-text">Acceder a la plataforma</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div> 
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <br>
                        <button type="submit" class="btn" style="background-color: #333333; color: #ffffff;">Iniciar sesión</button>
                    </form>
                    {{ error }}
                    <br> 
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-login">
          <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo-ujed.png' %}" alt="Logo UJED" width="170" height="70">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Aquí puedes agregar enlaces de navegación adicionales -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: #fff;">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #fff;">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #fff;">@SOMOS UJED</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
</footer>

{% endblock %}